modules = ["web", "nodejs-18", "bash"]
[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install --legacy-peer-deps && node server.js"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "static"
publicDir = "."

[userenv]

[userenv.shared]
PAYPAL_CLIENT_ID = "ATiPrTyikwkjQfdjz0Z-jrKZwemldOSYUYumUM1SM_rxpUYSB5KSFhC_Evr4QLmGgR2TZ7mh-lDB3lYg"
PAYPAL_CLIENT_SECRET = "EBqZtaHMoWSZY99SvSg2KIMLl5WEWnXrvZrS8o7KBZwJe269mE9GxuuZSAdpgrgY-raXVNvFvdERxe5P"
